@font-face {
    font-family: Ubuntu-condensed;
    src: url(UbuntuCondensed-Regular.ttf);
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

/*Estilos robados de https: //www.w3schools.com/html/tryit.asp?filename=tryhtml_layout_float LAYOUT RESPONSIVO*/

/* Style the header */
header {
    background-color: #ffffff;
    padding: 30px;
    text-align: left;
    font-size: 35px;
    color: #2e8ede;
}

/*Style the profile image*/
.imagen_perfil {
    float: left;
    width: 30%;
    max-height: 200px;
    width: auto;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 15%;
    height: 300px;
    /* only for demonstration, should be removed */
    background: #2e8ede;
    padding: 20px;
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    float: left;
    padding: 20px;
    width: 85%;
    background-color: #f1f1f1;
    height: 300px;
    /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {

    nav,
    article {
        width: 100%;
        height: auto;
    }
}

/** el * funciona de comodin como marcador para elegir a todos los elementos */
/** el CSS es una hoja de estilos en cascada, lo que significa que se lee de abajo hacia arriba. 
Por mas que haya definido el color aqua para *, el p sera color blue. */
/** es mejor trabajar por id o por clase que por elemento del HTML.*/
/** DOM Document object model */