@font-face {
    font-family: Ubuntu-condensed;
    src: url(UbuntuCondensed-Regular.ttf);
}

h2 {
    font-family: Ubuntu-medium;
}


/** el * funciona de comodin como marcador para elegir a todos los elementos */
/** el CSS es una hoja de estilos en cascada, lo que significa que se lee de abajo hacia arriba. 
Por mas que haya definido el color aqua para *, el p sera color blue. */
/** es mejor trabajar por id o por clase que por elemento del HTML.*/
/** DOM Document object model */